*.egg-info
data
!data/
data/*
!data/lancaster/
data/lancaster/*
!data/lancaster/processed/
.lightning_studio
.vscode
sdm/__pycache__
sdm/wandb-sweeps.py
wandb
.DS_Store
results
figures
scripts/preprocessing
